include ../mixins/clockNumber

ul.clock__numbers
    +clockNumber({
      number: "1", dataNumber: "one"
    })
    +clockNumber({
      number: "2", dataNumber: "two"
    })
    +clockNumber({
      number: "3", dataNumber: "thee"
    })
    +clockNumber({
      number: "4", dataNumber: "four"
    })
    +clockNumber({
      number: "5", dataNumber: "five"
    })
    +clockNumber({
      number: "6", dataNumber: "six"
    })
    +clockNumber({
      number: "7", dataNumber: "seven"
    })
    +clockNumber({
      number: "8", dataNumber: "eight"
    })
    +clockNumber({
      number: "9", dataNumber: "nine"
    })
    +clockNumber({
      number: "10", dataNumber: "ten"
    })
    +clockNumber({
      number: "11", dataNumber: "eleven"
    })
    +clockNumber({
      number: "12", dataNumber: "twelve"
    })
