@import 'variables';

  .clock {

    &__numbers {
      display: grid;
      grid-template-areas: 'twelve twelve'
      'eleven one'
      'ten two'
      'nine thee'
      'eight four'
      'seven five'
      'six six';
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 3% 1fr 1fr 1fr 1fr 1fr 3%;
      align-items: center;
    }

    &__item {
      &[data-number='one'] {
        grid-area: one;
      }
      &[data-number='two'] {
        grid-area: two;
      }
      &[data-number='thee'] {
        grid-area: thee;
      }
      &[data-number='four'] {
        grid-area: four;
      }
      &[data-number='five'] {
        grid-area: five;
      }
      &[data-number='six'] {
        grid-area: six;
      }
      &[data-number='seven'] {
        grid-area: seven;
      }
      &[data-number='eight'] {
        grid-area: eight;
      }
      &[data-number='nine'] {
        grid-area: nine;
      }
      &[data-number='ten'] {
        grid-area: ten;
      }
      &[data-number='eleven'] {
        grid-area: eleven;
      }
      &[data-number='twelve'] {
        grid-area: twelve;
      }
    }
  }

.clock {

  &__numbers {
    padding: 4%;
    border-radius: 50%;

    & li {

      &::after {
        content: '';
        display: block;

        @include size(3px, 12px);
        min-height: 12px;
        background-color: #000000;
        position: absolute;
      }
    }
  }
}

.clock__item {
  display: flex;
  align-items: flex-start;
  font-size: 20px;
  position: relative;

  @include size(100%, 100%);

  &[data-number='one'] {
    justify-content: flex-end;
    padding-right: 48%;
    align-items: flex-start;

    &::after {
      transform: rotate(30deg);
    }

    .clock__number {
      width: 20%;
      padding-top: 20%;
    }
  }

  &[data-number='two'] {
    justify-self: end;
    padding-right: 10%;
    justify-content: flex-end;
    align-items: flex-start;

    &::after {
      transform: rotate(60deg);
    }

    .clock__number {
      padding-top: 3%;
      width: 20%;
    }
  }

  &[data-number='thee'] {
    justify-self: end;
    justify-content: flex-end;
    padding-right: 6%;

    &::after {
      transform: rotate(90deg);
      right: -3%;
    }
  }

  &[data-number='four'] {
    justify-self: end;
    padding-right: 12%;
    justify-content: flex-end;
    align-items: flex-end;

    &::after {
      transform: rotate(120deg);
    }

    .clock__number {
      width: 15%;
      padding-bottom: 3%;
    }
  }

  &[data-number='five'] {
    justify-self: end;
    padding-right: 48%;
    padding-bottom: 1%;
    justify-content: flex-end;
    align-items: flex-end;

    .clock__number {
      width: 20%;
      padding-bottom: 15%;
    }

    &::after {
      transform: rotate(150deg);
    }
  }

  &[data-number='six'] {
    height: 100%;
    justify-self: center;
    flex-direction: column;
    justify-content: flex-end;

    .clock__number {
      padding-bottom: 2%;
    }

    &::after {
      bottom: -7px;
    }
  }

  &[data-number='seven'] {
    padding-left: 47%;
    padding-bottom: 1%;
    align-items: flex-end;

    .clock__number {
      padding-bottom: 17%;
      padding-left: 7%;
    }

    &::after {
      transform: rotate(210deg);
    }
  }

  &[data-number='eight'] {
    padding-left: 11%;
    align-items: flex-end;

    .clock__number {
      padding-left: 10%;
      padding-bottom: 3%;
    }

    &::after {
      transform: rotate(240deg);
    }
  }

  &[data-number='nine'] {
    &::after {
      transform: rotate(270deg);
      margin-right: 10px;
      left: -1%;
    }

    .clock__number {
      order: 1;
      padding-left: 9%;
    }
  }

  &[data-number='ten'] {
    padding-left: 12%;
    align-items: flex-start;

    &::after {
      transform: rotate(300deg);
    }

    .clock__number {
      order: 1;
      padding: 5% 0 0 10%;
    }
  }

  &[data-number='eleven'] {
    padding-left: 46%;
    padding-top: 2%;
    align-items: flex-start;

    &::after {
      transform: rotate(330deg);
    }

    .clock__number {
      order: 1;
      padding: 18% 0 0 5%;
    }
  }

  &[data-number='twelve'] {
    height: 100%;
    justify-content: flex-start;
    justify-self: center;
    flex-direction: column;

    .clock__number {
      order: 1;
      padding-top: 3%;
    }

    &::after {
      top: -7px;
    }
  }
}

@media screen and (min-width: 320px) {

  .clock__item {

    &[data-number='one'] {

      &::after {
        top: 5%;
        right: 50%;
      }
    }

    &[data-number='two'] {

      &::after {
        top: 5%;
        right: 12%;
      }
    }

    &[data-number='thee'] {

      &::after {
        right: -2%;
      }
    }

    &[data-number='four'] {

      &::after {
        right: 12%;
        top: 70%;
      }
    }

    &[data-number='five'] {

      &::after {
        right: 50%;
        bottom: 7%;
      }
    }

    &[data-number='seven'] {

      .clock__number {
        padding-bottom: 17%;
        padding-left: 12%;
      }

      &::after {
        right: 49%;
        bottom: 8%;
      }
    }

    &[data-number='eight'] {

      .clock__number {
        padding-left: 11%;
        padding-bottom: 5%;
      }

      &::after {
        right: 85%;
        bottom: 9%;
      }
    }

    &[data-number='ten'] {

      &::after {
        top: 8%;
      }
    }

    &[data-number='eleven'] {

      &::after {
        right: 50%;
        top: 8%;
      }
    }
  }
}

@media screen and (min-width: 420px) {

  .clock {

    &__numbers {

      & li {

        &::after {

          @include size(4px, 16px);
          min-height: 16px;
        }
      }
    }

    .clock__item {
      font-size: 27px;
    }
  }
}

@media screen and (min-width: 620px) {

  .clock {

    &__numbers {

      & li {

        &::after {

          @include size(4px, 19px);
          min-height: 19px;
        }
      }
    }

    .clock__item {
      font-size: 30px;

      &[data-number='one'] {

        &::after {
          right: 49%;
        }
      }

      &[data-number='four'] {

        &::after {
          right: 11%;
          top: 77%;
        }
      }

      &[data-number='five'] {

        &::after {
          right: 49%;
          bottom: 4%;
        }
      }

      &[data-number='six'] {

        &::after {
          bottom: -90%;
        }
      }

      &[data-number='eight'] {

        &::after {
          right: 88%;
          bottom: 7%;
        }
      }

      &[data-number='twelve'] {

        &::after {
          top: -70%;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {

  .clock {

    &__numbers {

      & li {

        &::after {

          @include size(5px, 30px);
          min-height: 30px;
        }
      }
    }

    .clock__item {
      font-size: 50px;
    }
  }
}

@media screen and (min-width: 1440px) {

  .clock {

    &__numbers {

      & li {

        &::after {

          @include size(6px, 40px);
          min-height: 40px;
        }
      }
    }

    .clock__item {
      font-size: 65px;
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 720px) {

  .clock {

    .clock__item {
      font-size: 35px;
    }
  }

  .clock {

    &__numbers {

      & li {

        &::after {

          @include size(3px, 20px);
          min-height: 20px;
          max-height: 20px;
        }
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 460px) {

  .clock {

    .clock__item {
      font-size: 20px;
      &[data-number='one'] {
        .clock__number {
          width: 27%;
          padding-top: 27%;
        }
      }
      &[data-number='two'] {
        .clock__number {
          padding-top: 5%;
          width: 25%;
        }
      }
      &[data-number='four'] {
        .clock__number {
          width: 22%;
          padding-bottom: 0%;
        }
      }
      &[data-number='five'] {
        .clock__number {
          width: 30%;
          padding-bottom: 20%;
        }
      }
    }
  }

  .clock {

    &__numbers {

      & li {

        &::after {

          @include size(3px, 12px);
          min-height: 12px;
        }
      }
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .clock {
    .clock {

      &__numbers {
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        display: flex;
        align-items: center;
        min-width: 50%;
        max-width: 50%;
        max-height: 14%;
        &[data-number='one'] {
          order: 3;
          padding-right: 22%;
          padding-bottom: 6%;
          align-items: center;
          .clock__number {
            padding-top: 0;
          }
          &::after {
            right: 45%;
            top: -20%;
          }
        }
        &[data-number='two'] {
          order: 5;
          padding-right: 3%;
          padding-bottom: 6%;
          .clock__number {
            padding-top: 0;
          }
          &::after {
            top: 0;
            right: 9%;
          }
        }
        &[data-number='thee'] {
          order: 7;
          padding-right: 3%;
          .clock__number {
            padding-top: 6%;
          }
          &::after {
            right: -2%;
            top: 44%;
          }
        }
        &[data-number='four'] {
          order: 9;
          padding-right: 6%;
          padding-top: 12%;
          .clock__number {
            padding-bottom: 0;
          }
          &::after {
            right: 11%;
            top: 97%;
          }
        }
        &[data-number='five'] {
          order: 11;
          padding-right: 5%;
          padding-right: 25%;
          padding-bottom: 0;
          padding-top: 14%;
          &::after {
            right: 51%;
            bottom: -41%;
          }
        }
        &[data-number='six'] {
          order: 12;
          min-width: 100%;
          max-height: 5%;
          .clock__number {
            position: relative;
            bottom: 75%;
          }
        }
        &[data-number='seven'] {
          order: 10;
          padding-top: 13%;
          padding-left: 20%;
          .clock__number {
            padding-bottom: 0%;
            padding-left: 23%;
          }
          &::after {
            right: 51%;
            bottom: -44%;
          }
        }
        &[data-number='eight'] {
          order: 8;
          padding-left: 5%;
          padding-bottom: 0;
          padding-top: 13%;
          &::after {
            right: 89%;
            bottom: -15%;
          }
        }
        &[data-number='nine'] {
          order: 6;
          .clock__number {
            padding-top: 5%;
            padding-left: 7%;
          }
          &::after {
            top: 46%;
          }
        }
        &[data-number='ten'] {
          order: 4;
          padding-left: 2%;
          padding-bottom: 7%;
          &::after {
            top: -8%;
            right: 89%;
          }
        }
        &[data-number='eleven'] {
          order: 2;
          padding: 0%;
          .clock__number {
            padding: 0% 0 10% 48%;
          }
          &::after {
            right: 51%;
            top: -23%;
          }
        }
        &[data-number='twelve'] {
          min-width: 100%;
          order: 1;
          max-height: 5%;
          &::after {
            top: -40%;
          }
        }
      }
    }
  }
}
