@import 'variables';

.clock__number {
  &::before {
    @include minorTicks(1px, 5px, 5px);
  }
  &::after {
    @include minorTicks(1px, 5px, 5px);
  }
}

.clock__ticks {
  position: absolute;
  display: flex;
  justify-content: center;
  @include size (18%, 100%);
  &::before {
    @include minorTicks(1px, 5px, 5px);
  }
  &::after {
    @include minorTicks(1px, 5px, 5px);
  }
}

.clock__item {
  display: flex;
  align-items: center;
  font-size: 20px;
  position: relative;
  @include size (100%, 100%);
  &[data-number='one'] {
    .clock__number {
      &::before {
        @include minorTicksPosition(97%, 58%, 24deg);
      }
      &::after {
        @include minorTicksPosition(68%, 38%, 36deg);
      }
    }

    .clock__ticks {
      &::before {
        @include minorTicksPosition(105%, 110%, 18deg);
      }
      &::after {
        @include minorTicksPosition(49%, -99%, 42deg);
      }
    }
  }

  &[data-number='two'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(128%, 67%, 48deg);
      }
      &::after {
        @include minorTicksPosition(27%, -48%, 72deg);
      }
    }
    .clock__number {
      &::before {
        @include minorTicksPosition(107%, 14%, 54deg);
      }
      &::after {
        @include minorTicksPosition(54%, 4%, 66deg);
      }
    }
  }

  &[data-number='thee'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(98%, -42%, 78deg);
      }
      &::after {
        @include minorTicksPosition(-13%, -46%, 102deg);
      }
    }

    .clock__number {
      &::before {
        @include minorTicksPosition(71%, -4%, 84deg);
      }
      &::after {
        @include minorTicksPosition(14%, -4%, 96deg);
      }
    }
  }

  &[data-number='four'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(57%, -64%, 108deg);
      }
      &::after {
        @include minorTicksPosition(-45%, 60%, 132deg);
      }
    }
    .clock__number {
      &::before {
        @include minorTicksPosition(28%, 5%, 114deg);
      }
      &::after {
        @include minorTicksPosition(-22%, 15%, 126deg);
      }
    }
  }

  &[data-number='five'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(35%, -93%, 138deg);
      }
      &::after {
        @include minorTicksPosition(-20%, 115%, 162deg);
      }
    }

    .clock__number {
      &::before {
        @include minorTicksPosition(21%, 38%, 144deg);
      }
      &::after {
        @include minorTicksPosition(-9%, 59%, 156deg);
      }
    }
  }

  &[data-number='six'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(-57%, -10%, 168deg);
      }
      &::after {
        @include minorTicksPosition(-42%, 112%, -168deg);
      }
    }

    .clock__number {
      &::before {
        @include minorTicksPosition(-74%, 44%, 174deg);
      }
      &::after {
        @include minorTicksPosition(-75%, 56%, -174deg);
      }
    }
  }

  &[data-number='seven'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(-18%, -12%, -162deg);
      }
      &::after {
        @include minorTicksPosition(38%, 195%, -138deg);
      }
    }
    .clock__number {
      &::before {
        @include minorTicksPosition(-5%, 42%, -156deg);
      }
      &::after {
        @include minorTicksPosition(23%, 62%, -144deg);
      }
    }
  }

  &[data-number='eight'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(-38%, 36%, -132deg);
      }
      &::after {
        @include minorTicksPosition(61%, 137%, -108deg);
      }
    }

    .clock__number {
      &::before {
        @include minorTicksPosition(-17%, 83%, -126deg);
      }
      &::after {
        @include minorTicksPosition(34%, 93%, -114deg);
      }
    }
  }

  &[data-number='nine'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(-13%, 97%, -102deg);
      }
      &::after {
        @include minorTicksPosition(99%, 100%, -78deg);
      }
    }
    .clock__number {
      &::before {
        @include minorTicksPosition(16%, 101%, -96deg);
      }
      &::after {
        @include minorTicksPosition(71%, 102%, -84deg);
      }
    }
  }

  &[data-number='ten'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(26%, 155%, -72deg);
      }
      &::after {
        @include minorTicksPosition(125%, 40%, -48deg);
      }
    }
    .clock__number {
      &::before {
        @include minorTicksPosition(56%, 94%, -66deg);
      }
      &::after {
        @include minorTicksPosition(104%, 84%, -54deg);
      }
    }
  }

  &[data-number='eleven'] {
    .clock__ticks {
      &::before {
        @include minorTicksPosition(52%, 184%, -42deg);
      }
      &::after {
        @include minorTicksPosition(108%, -10%, -18deg);
      }
    }
    .clock__number {
      &::before {
        @include minorTicksPosition(61%, 63%, -36deg);
      }
      &::after {
        @include minorTicksPosition(94%, 44%, -24deg);
      }
    }
  }

  &[data-number='twelve'] {
    .clock__number {
      &::before {
        @include minorTicksPosition(100%, 45%, 6deg);
      }
      &::after {
        @include minorTicksPosition(95%, 56%, -6deg);
      }
    }
    .clock__ticks {
      &::before {
        @include minorTicksPosition(90%, -10%, 12deg);
      }
      &::after {
        @include minorTicksPosition(75%, 115%, -12deg);
      }
    }
  }
}

@media screen and (min-width: 320px) {
  .clock__item {
    &[data-number='two'] {
      .clock__number {
        &::before {
          @include minorTicksPosition(107%, 16%, 54deg);
        }
        &::after {
          @include minorTicksPosition(54%, 6%, 66deg);
        }
      }
    }

    &[data-number='thee'] {
      .clock__ticks {
        &::before {
          @include minorTicksPosition(98%, -38%, 78deg);
        }
        &::after {
          @include minorTicksPosition(-13%, -38%, 102deg);
        }
      }

      .clock__number {
        &::before {
          @include minorTicksPosition(71%, -2%, 84deg);
        }
        &::after {
          @include minorTicksPosition(14%, -2%, 96deg);
        }
      }
    }

    &[data-number='four'] {
      .clock__ticks {
        &::before {
          @include minorTicksPosition(57%, -52%, 108deg);
        }
        &::after {
          @include minorTicksPosition(-40%, 71%, 132deg);
        }
      }
      .clock__number {
        &::before {
          @include minorTicksPosition(33%, 6%, 114deg);
        }
        &::after {
          @include minorTicksPosition(-19%, 17%, 126deg);
        }
      }
    }
    &[data-number='five'] {
      .clock__ticks {
        &::before {
          @include minorTicksPosition(39%, -90%, 138deg);
        }
      }
      .clock__number {

        &::before {

          @include minorTicksPosition(23%, 40%, 144deg);
        }
      }
    }

    &[data-number='twelve'] {

      .clock__ticks {

        &::before {

          @include minorTicksPosition(84%, -10%, 12deg);
        }
      }
    }
  }
}

@media screen and (min-width: 420px) {

  .clock__number {
    &::before {
      @include minorTicks(2px, 7px, 7px);
    }
    &::after {
      @include minorTicks(2px, 7px, 7px);
    }
  }
  .clock__ticks {
    &::before {
      @include minorTicks(2px, 7px, 7px);
    }
    &::after {
      @include minorTicks(2px, 7px, 7px);
    }
  }
}

@media screen and (min-width: 620px) {
  .clock__number {
    &::before {
      @include minorTicks(2.5px, 9px, 9px);
    }
    &::after {
      @include minorTicks(2.5px, 9px, 9px);
    }
  }

  .clock__ticks {
    &::before {
      @include minorTicks(2.5px, 9px, 9px);
    }
    &::after {
      @include minorTicks(2.5px, 9px, 9px);
    }
  }

  .clock__item {
    &[data-number='one'] {
      .clock__ticks {
        &::before {
          @include minorTicksPosition(107%, 110%, 18deg);
        }
        &::after {
          @include minorTicksPosition(49%, -99%, 42deg);
        }
      }
      .clock__number {
        &::after {
          @include minorTicksPosition(69%, 39%, 36deg);
        }
      }
    }
    &[data-number='two'] {
      .clock__ticks {
        &::before {
          @include minorTicksPosition(128%, 67%, 48deg);
        }
        &::after {
          @include minorTicksPosition(32%, -46%, 72deg);
        }
      }
      .clock__number {
        &::before {
          @include minorTicksPosition(107%, 16%, 54deg);
        }
        &::after {
          @include minorTicksPosition(59%, 6%, 66deg);
        }
      }
    }
    &[data-number='thee'] {
      .clock__ticks {
        &::before {
          @include minorTicksPosition(102%, -40%, 78deg);
        }
        &::after {
          @include minorTicksPosition(-13%, -38%, 102deg);
        }
      }
      .clock__number {
        &::before {
          @include minorTicksPosition(74%, -2%, 84deg);
        }
        &::after {
          @include minorTicksPosition(17%, -3%, 96deg);
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {

  .clock__number {

    &::before {

      @include minorTicks(3.5px, 13px, 13px);
    }

    &::after {

      @include minorTicks(3.5px, 13px, 13px);
    }
  }

  .clock__ticks {
    &::before {
      @include minorTicks(3.5px, 13px, 13px);
    }
    &::after {
      @include minorTicks(3.5px, 13px, 13px);
    }
  }
}

@media screen and (min-width: 1440px) {

  .clock__number {

    &::before {

      @include minorTicks(4px, 18px, 18px);
    }

    &::after {

      @include minorTicks(4px, 18px, 18px);
    }
  }

  .clock__ticks {

    &::before {

      @include minorTicks(4px, 18px, 18px);
    }

    &::after {

      @include minorTicks(4px, 18px, 18px);
    }
  }
}


@media screen and (orientation: landscape) and (max-height: 460px) {

  .clock__number {

    &::before {

      @include minorTicks(2px, 5px, 5px);
    }

    &::after {

      @include minorTicks(2px, 5px, 5px);
    }
  }

  .clock__ticks {

    &::before {

      @include minorTicks(2px, 5px, 5px);
    }

    &::after {

      @include minorTicks(2px, 5px, 5px);
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 720px) {

  .clock__number {
    &::before {
      @include minorTicks(1px, 5px, 5px);
    }

    &::after {
      @include minorTicks(1px, 5px, 5px);
    }
  }

  .clock__ticks {
    &::before {
      @include minorTicks(1px, 5px, 5px);
    }
    &::after {
      @include minorTicks(1px, 5px, 5px);
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .clock__item {
    &[data-number='one'] {
      .clock__number {
        &::before {
          bottom: 126%;
          right: 57%;
        }
        &::after {
          bottom: 84%;
          right: 38%;
        }
      }
      .clock__ticks {
        bottom: 21%;
        right: 43%;
        &::before {
          bottom: 120%;
          right: 131%;
        }
        &::after {
          bottom: 42%;
          right: -75%;
        }
      }
    }
    &[data-number='two'] {
      .clock__number {
        &::before {
          bottom: 120%;
          right: 15%;
        }
        &::after {
          bottom: 58%;
          right: 5%;
        }
      }
      .clock__ticks {
        bottom: 19%;
        right: 5%;
        &::before {
          bottom: 133%;
          right: 92%;
        }
        &::after {
          bottom: 5%;
          right: -21%;
        }
      }
    }
    &[data-number='thee'] {
      .clock__number {
        &::before {

        }
        &::after {
          bottom: 0%;
          right: -1%;
        }
      }
      .clock__ticks {
        bottom: -2%;
        right: 6%;
        &::before {
          bottom: 111%;
          right: -37%;
        }
        &::after {
          bottom: -39%;
          right: -33%;
        }
      }
    }
    &[data-number='four'] {
      .clock__number {
        &::before {
          bottom: 13%;
          right: 6%;
        }
        &::after {
          bottom: -53%;
          right: 16%;
        }
      }
      .clock__ticks {
        bottom: -45%;
        right: 14%;
        &::before {
          bottom: 92%;
          right: -63%;
        }
        &::after {
          bottom: -45%;
          right: 63%;
        }
      }
    }
    &[data-number='five'] {

      .clock__ticks {
        bottom: -53%;
        left: 30%;
        &::before {
          bottom: 54%;
          right: -102%;
        }
        &::after {
          bottom: -16%;
          right: 100%;
        }
      }

      .clock__number {
        &::before {
          bottom: -21%;
          right: 41%;
        }

        &::after {
          bottom: -55%;
          right: 59%;
        }
      }
    }
    &[data-number='six'] {

      .clock__ticks {
        bottom: 0%;
        left: 41%;
        &::before {
          top: 124%;
          left: 109%;
          bottom: 0;
          right: 0;
        }
        &::after {
          bottom: -55%;
        }
      }

      .clock__number {
        &::before {
          bottom: -46%;
          right: -112%;
        }

        &::after {
          bottom: -46%;
          right: 223%;
        }
      }
    }
    &[data-number='seven'] {
      .clock__ticks {
        right: 41%;
        bottom: -43%;
        &::before {
          bottom: -23%;
          right: -56%;
        }
        &::after {
          bottom: 56%;
          right: 152%;
        }
      }

      .clock__number {
        &::before {
          bottom: -53%;
          right: 41%;
        }

        &::after {
          bottom: -14%;
          right: 60%;
        }
      }
    }
    &[data-number='eight'] {
      .clock__ticks {
        right: 73%;
        bottom: -40%;
        &::before {
          bottom: -35%;
          right: 22%;
        }
        &::after {
          bottom: 88%;
          right: 138%;
        }
      }

      .clock__number {
        &::before {
          bottom: -50%;
          right: 83%;
        }
        &::after {
          bottom: 12%;
          right: 94%;
        }
      }
    }
    &[data-number='nine'] {
      .clock__ticks {
        bottom: 2%;
        &::before {
          bottom: -45%;
          right: 97%;
        }
        &::after {
          bottom: 105%;
          right: 100%;
        }
      }

      .clock__number {
        &::before {
          bottom: -6%;
          right: 101%
        }
      }
    }
    &[data-number='ten'] {
      .clock__ticks {
        bottom: 23%;
        &::before {
          bottom: -7%;
          right: 111%;
        }
        &::after {
          bottom: 130%;
          right: -1%;
        }
      }

      .clock__number {
        &::before {
          bottom: 57%;
          right: 94%;
        }

        &::after {
          bottom: 122%;
          right: 85%;
        }
      }
    }
    &[data-number='eleven'] {
      .clock__ticks {
        bottom: 1%;
        &::before {
          bottom: 64%;
          right: -68%;
        }
        &::after {
          bottom: 139%;
          right: -274%;
        }
      }

      .clock__number {
        &::before {
          bottom: 88%;
          right: 60%;
        }

        &::after {
          bottom: 126%;
          right: 42%;
        }
      }
    }
    &[data-number='twelve'] {
      .clock__ticks {
        bottom: 3%;
        right: 41%;
      }
      .clock__number {
        &::before {
          bottom: 102%;
        }
      }
    }
  }
}

