:root {
  --start-second: 0deg;
  --start-minutes: 0deg;
  --start-hours: 0deg;
}

@keyframes secondAnimate {

  from {
    transform: rotate(var(--start-second));
  }

  to {
    transform: rotate(calc(var(--start-second) + 360deg));
  }
}

@keyframes minutesAnimate {

  from {
    transform: rotate(calc(var(--start-minutes) + 360deg));
  }

  to {
    transform: rotate(calc(var(--start-minutes) + 360deg));
  }
}

@keyframes hoursAnimate {

  from {
    transform: rotate(calc(var(--start-hours) + 360deg));
  }

  to {
    transform: rotate(calc(var(--start-hours) + 360deg));
  }
}

.clock__hours {
  position: absolute;
  transform: rotate(180deg);

  & li {
    position: absolute;
    transform-origin: top;
  }

  &::before {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    background: linear-gradient(180deg, #ffffff 0%, #bfbfbf 100%);
    z-index: 999;
    top: -5px;
    left: -5px;
    border-radius: 50%;
  }
}

.clock {

  &--animate {

    .clock {

      &__hour {
        transform: rotate(var(--start-hours));
        animation: hoursAnimate 43200s;
        animation-timing-function: steps(60, end);
        animation-iteration-count: infinite;
      }

      &__minutes {
        transform: rotate(var(--start-minutes));
        animation: minutesAnimate 3600s;
        animation-timing-function: (60, end);
        animation-iteration-count: infinite;
      }

      &__seconds {
        transform: rotate(var(--start-second));
        animation: secondAnimate 60s;
        animation-timing-function: steps(60, end);
        animation-iteration-count: infinite;
      }
    }
  }

  &__hour {
    width: 4px;
    height: 22vh;
    background-color: #050606;
  }

  &__minutes {
    width: 4px;
    height: 25vh;
    background-color: #050606;
  }

  &__seconds {
    width: 3px;
    height: 28vh;
    background-color: #e9343f;
  }
}

@media screen and (min-width: 960px) {

  .clock {

    &__hour {
      width: 5px;
      height: 26vh;
    }

    &__minutes {
      width: 5px;
      height: 30vh;
    }

    &__seconds {
      width: 4px;
      height: 34vh;
    }
  }

  .clock__hours {

    &::before {
      width: 20px;
      height: 20px;
      top: -10px;
      left: -10px;
    }
  }
}

@media screen and (orientation: portrait) {

  .clock {

    &__hour {
      height: 24vw;
    }

    &__minutes {
      height: 26vw;
    }

    &__seconds {
      height: 28vw;
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 460px) {
  .clock {

    &__hour {
      width: 3px;
      height: 14vh;
    }

    &__minutes {
      width: 3px;
      height:16vh;
    }

    &__seconds {
      width: 3px;
      height: 17vh;
    }
  }
}