$ticksColor: #1a1917;

@font-face {
  font-family: Source Sans Pro, sans-serif;
  font-weight: 700;
  src: url('../assets/fonts/source-sans-pro-v12-latin-700.woff'),
    url('../assets/fonts/source-sans-pro-v12-latin-700.woff2');
  unicode-range: U+0030-0034;
}

@mixin size ($width, $height) {
  width: $width;
  height: $height;
}

@mixin centerAlign {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin minorTicks ($width, $height, $minHeight) {
  content: '';
  display: block;
  position: absolute;
  width: $width;
  height: $height;
  min-height: $minHeight;
  background-color: $ticksColor;
}

@mixin minorTicksPosition ($bottom, $right, $rotate) {
  bottom: $bottom;
  right: $right;
  transform: rotate($rotate);
}