@import 'normalize';
@import 'variables';
@import '_custom';
@import 'variables';
@import 'clockNumbers';
@import 'clockTicks';
@import 'clockHours';

body {

  @include centerAlign;
  font-family: Source Sans Pro, sans-serif;
}

.clock {

  @include centerAlign;
  @include size(97vh, 97vh);
  border: 2px solid #1f272a;
  border-radius: 50%;
  background: linear-gradient(180deg, #757575 0%, #1d1d1b 100%);
  box-shadow: inset 1px 2px 0 rgba(255, 255, 255, .2);
}

.clock {

  &__face {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #1f272a;
    box-shadow: inset 1px 1px 0 rgba(47, 47, 80, .2);
  }
}

.clock {

  &__face {
    @include centerAlign;
    -ms-flex-align:center;
    position: relative;
  }

  &__numbers {

    @include size(100%, 100%);
  }
}

@media all and (orientation: portrait) {

  .clock {

    @include size(97vw, 97vw);
  }
}

@media screen and (min-width: 940px) {

  .clock {
    border: 3px solid #1f272a;

    &__face {
      width: calc(100% - 40px);
      height: calc(100% - 40px);
      border: 3px solid #1f272a;
    }
  }
}

@media screen and (orientation: landscape) and (max-height: 460px) {

  .clock {

    @include size(256px, 256px);

    &__face {
      width: calc(100% - 20px);
      height: calc(100% - 20px);
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .clock {
    &__hours {
      right: 50%;
    }
  }
}