doctype
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="description" content="dev chellenge онлайн раунд")
        meta(name="theme-color" content="#00bff3")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title='clock'
        link(rel="icon" href="./сlock.png" type="image/x-icon")
        link(href="index.css" rel="stylesheet")
    body
        article.clock
            div.clock__face
                include ./modules/clockNumbers
                include ./modules/clockHands
        script(src="index.js")

